* {
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
}

header {
    text-align: center;
    background: #50d7d5;
    height: 10%;
    color: rgb(22, 23, 23);
}

.topnav img {
    width: 100px;
    margin-top: -2%;
    float: left;
    background: transparent;
}

.topnav img:hover {
    transform: scale(1.1);
}

.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
}

.topnav a:hover {
    transform: scale(1.1);
    background-color: #ddd;
    color: black;
}
.home {
    height: 700px;
    margin-top: -1.5%;
    background: url(images/home.jpg) no-repeat center fixed;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: rgb(22, 23, 23);
}
.home h1 {

    margin-top: 1%;
    margin-left: 30%;
    margin-right: 10%;
    font-size: 55px;
}

header p {
    margin: 10px 0;
}

/*.home .input-group {
    width: 500px;
    max-width: 100000px;
    border-radius: 300px;
    background: transparent;
    margin-top: 400px;
    margin-left: 35%;
    padding: 5px;
}*/

.home .form-control:hover {
    transform: scale(1.1);
    background-color: linear-gradient(rgb(110, 199, 226), white);
    color: black;
}

.home .form-control {
    border: 0 !important;
    border-radius: 30px !important;
    border-color: #050000;
    margin: 2px;
    box-shadow: none !important;
    background-color: linear-gradient(rgb(110, 199, 226), white);
    margin-top: 400px;

}



.home .input-group-text {
    width: 100px;
    font-size: medium;
    font-style: italic;
    background-image: linear-gradient(#00ff76, #1f3d90);
    border: 0 !important;
    color: #fff !important;
    padding: 0 25px !important;
    border-radius: 100px !important;
    box-shadow: none !important;
    cursor: pointer;
    transition: 1s;
}

.home .input-group-text:hover {
    transform: scale(1.1);

}


.login {
    height: 1000px;
    box-shadow: #0000;
    background-image: url("images/login_background.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: rgb(22, 23, 23);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type=text],
input[type=password],
input[type=number],
input[type=email],
input[type=address],
input[type=hotel],
input[type=flight],
input[type=train],
input[type=bus],
input[type=date] {
    width: 30%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #dbe5e8df;
}


.login-box {
    width: 55%;
    margin-top: 10px;
    background-color: transparent;
    margin-left: 25%;
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0, 18);
    cursor: pointer;
    transition: 1s;
}

.login-box:hover {
    transform: scale(1.1);
    background-color: transparent;
    color: rgb(1, 5, 15);
}

.login_button {
    background-color: #2ea4d2df;
    color: white;
    padding: 14px 20px;
    margin: 9px 0;
    margin-left: 10%;
    border: none;
    cursor: pointer;
    width: 10%;
}

.login_button:hover {
    transform: scale(1.1);
    background-color: #b6d0dc;
    color: rgb(1, 4, 13);
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
    margin-right: 3;
    color: white;
}

.register {

    box-shadow: #0000;
    background-image: url("images/login_background.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: rgb(22, 23, 23);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.register-box {
    width: 55%;
    background-color: transparent;
    margin-left: 25%;
    margin-top: -25%;
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0, 18);
    cursor: pointer;
    transition: 1s;
}

.register-box:hover {
    transform: scale(1.1);
    background-color: transparent;
    color: rgb(1, 5, 15);
}

.registerbtn {
    width: auto;
    border-color: transparent;
    padding: 10px 18px;
    background-color: hsl(189, 65%, 50%);
    margin-left: 7%;
}

.registerbtn:hover {
    transform: scale(1.1);
    background-color: #b6d0dc;
}

.destination {
    padding: 10px;
    background-image: linear-gradient(to bottom right, #ccffff 0%, #ffff99 100%);
}

h1 {
    text-align: center;
    padding-bottom: auto;
}

.destination-img img {
    width: 200px;
    position: relative;
    transform: scaleX(-1);
}

/*price position*/
.price {
    float: left;
    background: transparent;
    color: #fff;
    position: relative;
    background-color: gold;
    border-radius: 50px;
}

/*rating position*/
.rating {

    background: transparent;
    color: #FFD700;
    position: relative;
    float: right;

}

/*about picture*/
.destination-details {
    padding: 20px;
    text-align: justify;
}

.destination-details h4 {
    font-weight: 600p;
    font-size: 35px;
    margin: auto;
}

/* for map, sun, moon icon details*/
.destination-details .fa {
    margin: auto;
}

.destination-box {
    width: auto;
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0, 18);
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 20px;
    margin-top: 30%;
    cursor: pointer;
    transition: 1s;
}

.destination-box:hover {
    transform: scale(1.1);
    background-color: #8dc2f0;
    color: black;
}


.gallery {

    padding: 100px 0;
    background: radial-gradient();
    background-color: rgb(55, 162, 194);
    font-size: 55px;
}

.gallery-box img {
    width: 20%;
    max-width: 100%;
    height: auto;
    border-radius: 100px;
    transform: rotate2d(90deg);
    cursor: pointer;
    transition: 1s;
}

.gallery-box img:hover {
    width: 500px;
    height: 500px;
    transform: scale(1.1);
}



.gallery-box {
    position: relative;
    margin-top: 30px;
}

.banner {
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: rgb(22, 23, 23);
    font-size: 46px;
}

.banner-highlights {
    margin-top: 5%;
    background: rgbs(0, 0, 0, 0.7);
    text-align: center;
    color: #050000;
}

.booking-btn {
    width: 100px;
    padding: 8px 0;
    outline: none ! important;
    border: 2px solid #070000;
    border-radius: 10px;
    background: rgb(233, 145, 159);
    color: #100101;
    margin-top: 20px;
    cursor: pointer;
    transition: 1s;
}

.booking-btn:hover {
    transform: scale(1.1);
}

.users-feedback {
    padding: 100px;
}

.users-review {
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 100, 0.2);
    padding-bottom: 50px;
    cursor: pointer;
    transition: 1s;
}

.users-review:hover {
    transform: scale(1.1);
}

.users-review p {
    padding: 50px 10px 10px 10px;
}

.users-feedbak img {
    width: -10%;

    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px 40%;
}

.users-review p:before {
    content: '\201d';
    display: block;
    position: absolute;
    font-size: 100px;
    color: aqua;
    font-family: sans-serif;
    left: 30%;
}

#contact {

    text-align: center;
    background-image: linear-gradient(#2d557d, #9610fb);
}

.footer {
    padding: 100px 20px;
    background-image: linear-gradient(#2d557d, #9610fb);
}

.footer-logo {
    width: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer h4 {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
}

.footer p {
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
}

.footer .row .fa {
    padding-right: 20px;
    font-size: 15px;
}

.footer hr {
    margin-top: 10px;
    background: #efefef;
}

.direction {
    height: 100%;
    background: linear-gradient(to bottom right, #ffffff 0%, #99ffcc 100%);
}

.direction h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#574b4b, #1297bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.direction .form-control:hover {
    transform: scale(1.1);
    background-color: linear-gradient(to bottom right, #00ffcc 0%, #ffffff 100%);
    color: black;
}

.direction .form-control1 {
    border: 0 !important;
    border-radius: 30px !important;
    border-color: #050000;
    box-shadow: none !important;
    background-color: linear-gradient(rgb(110, 199, 226), white);
    margin-top: 400px;
    margin-left: 35%;
    cursor: pointer;
    transition: 1s;
}

.direction .form-control1:hover {
    transform: scale(1.1);

}

.direction .form-control2 {
    border: 0 !important;
    border-radius: 30px !important;
    border-color: #050000;
    margin: 2px;
    box-shadow: none !important;
    background-color: linear-gradient(rgb(110, 199, 226), white);
    margin-left: 35%;
    cursor: pointer;
    transition: 1s;
}

.direction .form-control2:hover {
    transform: scale(1.1);

}

.direction .input-group-text {
    width: 100px;
    font-size: medium;
    font-style: italic;
    background-image: linear-gradient(#00ff76, #1f3d90);
    border: 0 !important;
    color: #fff !important;
    margin-left: 47%;
    padding: 0 25px !important;
    border-radius: 100px !important;
    box-shadow: none !important;
    cursor: pointer;
    transition: 1s;

}

.direction .input-group-text:hover {
    transform: scale(1.1);
}
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .topnav{
      width: 100%;
    }
  }